In [1]:
!pip install -q tensorflow-recommenders
!pip install -q --upgrade tensorflow-datasets

In [2]:
!pip install -q scann

In [3]:
from typing import Dict, Text

import os
import pprint
import tempfile

import numpy as np
import tensorflow as tf
import tensorflow_datasets as tfds

In [4]:
import tensorflow_recommenders as tfrs

In [10]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import scipy.sparse as sp
from scipy.sparse import vstack
from scipy import sparse
from scipy.sparse.linalg import spsolve

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from pathlib import Path
import pandas as pd
import numpy as np
import random
from IPython.display import Image
from IPython.core.display import HTML 
import pdb;

from subprocess import check_output
from sklearn.model_selection import train_test_split
from lightfm import LightFM
from lightfm.evaluation import precision_at_k
from lightfm.evaluation import auc_score

# Importing Libraries and cookbooks
from recsys import *## recommender system cookbook
#from generic_preprocessing import * ## pre-processing code
from IPython.display import HTML ## Setting display options for Ipython Notebook
from itertools import combinations, chain, product

In [11]:
demo = pd.read_csv("demo001.csv",sep="|")

demo.head(10)

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (63,64) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID_CTE,FECHA_NAC,GENERO,EDO_CIVIL,D_EDO,DESC_D_EDO,D_NC,DESC_D_NC,TP_HOGAR,T_HOGAR,...,FECHADIFCOBRO,SDOCTAPERDIDA,FECHACORTE,TIPOTELEFONO,NUMEROTELEFONOORIGEN,NUMEROTELEFONO,CARRIER,DES_CORREOELECTRONICO,DES_ORIGEN,SAMPLING
0,2746824,1952-09-22 00:00:00.000000,F,C,9.0,AGUASCALIENTES,36.0,AGUASCALIENTES,P,1988-01-01 00:00:00.000000,...,NaN,0.0,2020-07-31 00:00:00.000000,1.0,9.130889e+06,4.499131e+09,0.0,CONCHITAGUILAR2@GMAIL.COM,Coppel.com en tienda,0.004464
1,6572723,1958-11-04 00:00:00.000000,F,C,10.0,JALISCO,67.0,TONALA,P,1992-01-01 00:00:00.000000,...,NaN,0.0,2020-07-31 00:00:00.000000,4.0,6.170833e+06,3.336171e+09,0.0,MOGLEZZB1102@HOTMAIL.COM,Tienda,0.005916
2,12334731,1980-03-14 00:00:00.000000,M,C,23.0,VERACRUZ,40.0,CORDOBA,R,2012-01-01 00:00:00.000000,...,2011-08-31 00:00:00.000000,0.0,2020-07-31 00:00:00.000000,1.0,2.711111e+09,2.711111e+09,0.0,JORGECONTRERAS_08@HOTMAIL.COM,Tienda,0.003026
3,12408172,1968-02-19 00:00:00.000000,M,S,18.0,PUEBLA,85.0,ATLIXCO,P,2007-01-01 00:00:00.000000,...,NaN,0.0,2020-07-31 00:00:00.000000,1.0,0.000000e+00,2.444463e+09,0.0,MARIO_1018@HOTMAIL.COM,Coppel.com,0.002311
4,24428035,1950-03-18 00:00:00.000000,M,D,25.0,DISTRITO FEDERAL,107.0,IZTAPALAPA,F,2003-01-01 00:00:00.000000,...,NaN,0.0,2020-07-31 00:00:00.000000,3.0,5.541973e+09,5.541973e+09,0.0,BARBIE_COMEX@HOTMAIL.COM,CAT,0.008750
5,42979358,1963-10-12 00:00:00.000000,M,S,15.0,ZACATECAS,273.0,SOMBRERETE,P,1978-01-01 00:00:00.000000,...,NaN,0.0,2020-07-31 00:00:00.000000,2.0,4.331055e+09,4.331055e+09,39.0,B.LINDA.MORALES@GMAIL.COM,Tienda,0.007626
6,49727061,1970-02-17 00:00:00.000000,F,C,4.0,BAJA CALIFORNIA NORTE,64.0,ENSENADA,P,2010-01-01 00:00:00.000000,...,NaN,0.0,2020-07-31 00:00:00.000000,2.0,5.562271e+09,5.562271e+09,39.0,LOLISMAGA_24@HOTMAIL.COM,Tienda,0.006580
7,26835752,1984-06-14 00:00:00.000000,F,C,23.0,VERACRUZ,183.0,TUXPAN,P,2013-01-01 00:00:00.000000,...,NaN,0.0,2020-07-31 00:00:00.000000,2.0,7.681044e+09,7.681044e+09,39.0,NaN,NaN,0.007558
8,25066445,1974-10-12 00:00:00.000000,F,C,22.0,HIDALGO,316.0,MINERAL DE LA R,P,2019-12-09 00:00:00.000000,...,NaN,0.0,2020-07-31 00:00:00.000000,2.0,5.520714e+09,5.520714e+09,39.0,NaN,NaN,0.009830
9,46495652,1986-11-02 00:00:00.000000,M,S,31.0,OAXACA,384.0,LOMA BONITA,P,2004-01-01 00:00:00.000000,...,NaN,0.0,2020-07-31 00:00:00.000000,5.0,2.871169e+09,2.871169e+09,0.0,NaN,NaN,0.002984

In [12]:
from datetime import datetime
from datetime import date

In [13]:
demo["Fecha_Nac"]=pd.to_datetime(demo["FECHA_NAC"], format='%Y-%m-%d %H:%M')
demo["Fecha_Nac"].head(5)

0   1952-09-22
1   1958-11-04
2   1980-03-14
3   1968-02-19
4   1950-03-18
Name: Fecha_Nac, dtype: datetime64[ns]

In [14]:
hoy=datetime.now().year
def age(fecnan):
    return (hoy-fecnan.year)

demo["Edad"]=demo["Fecha_Nac"].apply(age)
demo["Edad"].head(5)

0    69.0
1    63.0
2    41.0
3    53.0
4    71.0
Name: Edad, dtype: float64

In [15]:
demo["edad"]=pd.cut(demo['Edad'], [0,25,35,45,55,65,90]).astype(str)
demo.head()

,ID_CTE,FECHA_NAC,GENERO,EDO_CIVIL,D_EDO,DESC_D_EDO,D_NC,DESC_D_NC,TP_HOGAR,T_HOGAR,...,TIPOTELEFONO,NUMEROTELEFONOORIGEN,NUMEROTELEFONO,CARRIER,DES_CORREOELECTRONICO,DES_ORIGEN,SAMPLING,Fecha_Nac,Edad,edad
0,2746824,1952-09-22 00:00:00.000000,F,C,9.0,AGUASCALIENTES,36.0,AGUASCALIENTES,P,1988-01-01 00:00:00.000000,...,1.0,9.130889e+06,4.499131e+09,0.0,CONCHITAGUILAR2@GMAIL.COM,Coppel.com en tienda,0.004464,1952-09-22,69.0,"(65.0, 90.0]"
1,6572723,1958-11-04 00:00:00.000000,F,C,10.0,JALISCO,67.0,TONALA,P,1992-01-01 00:00:00.000000,...,4.0,6.170833e+06,3.336171e+09,0.0,MOGLEZZB1102@HOTMAIL.COM,Tienda,0.005916,1958-11-04,63.0,"(55.0, 65.0]"
2,12334731,1980-03-14 00:00:00.000000,M,C,23.0,VERACRUZ,40.0,CORDOBA,R,2012-01-01 00:00:00.000000,...,1.0,2.711111e+09,2.711111e+09,0.0,JORGECONTRERAS_08@HOTMAIL.COM,Tienda,0.003026,1980-03-14,41.0,"(35.0, 45.0]"
3,12408172,1968-02-19 00:00:00.000000,M,S,18.0,PUEBLA,85.0,ATLIXCO,P,2007-01-01 00:00:00.000000,...,1.0,0.000000e+00,2.444463e+09,0.0,MARIO_1018@HOTMAIL.COM,Coppel.com,0.002311,1968-02-19,53.0,"(45.0, 55.0]"
4,24428035,1950-03-18 00:00:00.000000,M,D,25.0,DISTRITO FEDERAL,107.0,IZTAPALAPA,F,2003-01-01 00:00:00.000000,...,3.0,5.541973e+09,5.541973e+09,0.0,BARBIE_COMEX@HOTMAIL.COM,CAT,0.008750,1950-03-18,71.0,"(65.0, 90.0]"

In [16]:
demo["NDepen"]=demo['N_D_EC'].apply(lambda x: 0 if x == 0 else 1).astype(str)
demo.head()

,ID_CTE,FECHA_NAC,GENERO,EDO_CIVIL,D_EDO,DESC_D_EDO,D_NC,DESC_D_NC,TP_HOGAR,T_HOGAR,...,NUMEROTELEFONOORIGEN,NUMEROTELEFONO,CARRIER,DES_CORREOELECTRONICO,DES_ORIGEN,SAMPLING,Fecha_Nac,Edad,edad,NDepen
0,2746824,1952-09-22 00:00:00.000000,F,C,9.0,AGUASCALIENTES,36.0,AGUASCALIENTES,P,1988-01-01 00:00:00.000000,...,9.130889e+06,4.499131e+09,0.0,CONCHITAGUILAR2@GMAIL.COM,Coppel.com en tienda,0.004464,1952-09-22,69.0,"(65.0, 90.0]",0
1,6572723,1958-11-04 00:00:00.000000,F,C,10.0,JALISCO,67.0,TONALA,P,1992-01-01 00:00:00.000000,...,6.170833e+06,3.336171e+09,0.0,MOGLEZZB1102@HOTMAIL.COM,Tienda,0.005916,1958-11-04,63.0,"(55.0, 65.0]",1
2,12334731,1980-03-14 00:00:00.000000,M,C,23.0,VERACRUZ,40.0,CORDOBA,R,2012-01-01 00:00:00.000000,...,2.711111e+09,2.711111e+09,0.0,JORGECONTRERAS_08@HOTMAIL.COM,Tienda,0.003026,1980-03-14,41.0,"(35.0, 45.0]",1
3,12408172,1968-02-19 00:00:00.000000,M,S,18.0,PUEBLA,85.0,ATLIXCO,P,2007-01-01 00:00:00.000000,...,0.000000e+00,2.444463e+09,0.0,MARIO_1018@HOTMAIL.COM,Coppel.com,0.002311,1968-02-19,53.0,"(45.0, 55.0]",0
4,24428035,1950-03-18 00:00:00.000000,M,D,25.0,DISTRITO FEDERAL,107.0,IZTAPALAPA,F,2003-01-01 00:00:00.000000,...,5.541973e+09,5.541973e+09,0.0,BARBIE_COMEX@HOTMAIL.COM,CAT,0.008750,1950-03-18,71.0,"(65.0, 90.0]",0

In [17]:
df_demo=demo.loc[:,('ID_CTE', "GENERO", 'EDO_CIVIL',"edad","NDepen","TP_HOGAR")]
df_demo["user_id"]=df_demo["ID_CTE"].astype(str)
df_demo.head(10)

     ID_CTE GENERO EDO_CIVIL          edad NDepen TP_HOGAR   user_id
0   2746824      F         C  (65.0, 90.0]      0        P   2746824
1   6572723      F         C  (55.0, 65.0]      1        P   6572723
2  12334731      M         C  (35.0, 45.0]      1        R  12334731
3  12408172      M         S  (45.0, 55.0]      0        P  12408172
4  24428035      M         D  (65.0, 90.0]      0        F  24428035
5  42979358      M         S  (55.0, 65.0]      1        P  42979358
6  49727061      F         C  (45.0, 55.0]      1        P  49727061
7  26835752      F         C  (35.0, 45.0]      0        P  26835752
8  25066445      F         C  (45.0, 55.0]      0        P  25066445
9  46495652      M         S  (25.0, 35.0]      1        P  46495652

In [18]:
tran = pd.read_csv("transactional001.csv",sep="|")

tran.head(10)

,ID_CTE,FECHA_TICKET,ID_TIENDA,ID_TICKET,PROD_SKU,PROD_DEP,DESC_PROD_DEP,PROD_CLAS,DESC_PROD_CLAS,PROD_FAM,DESC_PROD_FAM,PROD_AREA,PROD_CATEGORIA,DESC_PROD_CATEGORIA,IMPORTE_VTA,CANTIDAD_VTA,PROD_PRECIO_PROMEDIO,TIPOCOMPRA,FECHACORTE
0,145035,2017-10-02 00:00:00.000000,3,133548,-99,-99,Sin Descripcion,-99,Sin Descripcion,-99,Sin Descripcion,Prestamos,-99,Sin Descripcion,3448.00,1,3448.00,Credito,2017-10-31 00:00:00.000000
1,145035,2018-05-08 00:00:00.000000,1252,7400,-99,-99,Sin Descripcion,-99,Sin Descripcion,-99,Sin Descripcion,Prestamos,-99,Sin Descripcion,5646.00,1,5646.00,Credito,2018-05-31 00:00:00.000000
2,145035,2019-08-23 00:00:00.000000,3,48708,215063,2,ELECTRONICA,24,TELEFONOS CELULARES,85,AT.T,Muebles,1,Celulares,2154.32,1,2154.32,Credito,2019-08-31 00:00:00.000000
3,145035,2019-09-20 00:00:00.000000,5,23998,800404,8,ZAPATERIA,60,ZAPATO DAMA T 22.5-27,48,SENORA CONFORT,Ropa,17,Zapato Dama,603.00,1,603.00,Credito,2019-09-30 00:00:00.000000
4,145035,2020-01-13 00:00:00.000000,2,171365,-99,-99,Sin Descripcion,-99,Sin Descripcion,-99,Sin Descripcion,Prestamos,-99,Sin Descripcion,17241.00,1,17241.00,Credito,2020-01-31 00:00:00.000000
5,558561,2017-03-17 00:00:00.000000,119,505516,340634,3,MUEBLE SUELTO,30,JARDIN,11,MESA PLEGABLE,Muebles,3,Hogar,1119.83,1,1119.83,Credito,2017-03-31 00:00:00.000000
6,558561,2017-10-17 00:00:00.000000,119,526127,236785,2,ELECTRONICA,29,CHIPS CELULARES,11,CHIP 4G MULTIFORMATO,Muebles,1,Celulares,0.00,1,0.00,Contado,2017-10-31 00:00:00.000000
7,558561,2017-10-17 00:00:00.000000,119,526127,236905,2,ELECTRONICA,95,ACCESORIOS CELULARES,2,MICAS,Muebles,1,Celulares,128.45,1,128.45,Credito,2017-10-31 00:00:00.000000
8,558561,2017-10-17 00:00:00.000000,119,526127,253311,2,ELECTRONICA,24,TELEFONOS CELULARES,9,TELCEL R2,Muebles,1,Celulares,2671.55,1,2671.55,Credito,2017-10-31 00:00:00.000000
9,558561,2017-10-17 00:00:00.000000,119,526127,296475,2,ELECTRONICA,95,ACCESORIOS CELULARES,27,PROTECTOR DE PANTALLA VIDRIO,Muebles,1,Celulares,171.55,1,171.55,Credito,2017-10-31 00:00:00.000000

In [19]:
df_tran=tran[((tran["PROD_AREA"]=="Muebles")  | (tran["PROD_AREA"]=="Ropa"))&((tran["IMPORTE_VTA"]>100))]

In [20]:
df_tran["area"]=df_tran["PROD_AREA"].apply(lambda x: 1 if x == 'Ropa' else 2) 
df_tran["fam"]=df_tran["area"].astype(str)+df_tran["PROD_DEP"].astype(str)+df_tran["PROD_CLAS"].astype(str).str.zfill(2)+df_tran["PROD_FAM"].astype(str).str.zfill(3)
df_tran["clas"]=df_tran["area"].astype(str)+df_tran["PROD_DEP"].astype(str)+df_tran["PROD_CLAS"].astype(str).str.zfill(2)
df_tran["idclas"]=df_tran["clas"]
df_tran["idfam"]=df_tran["fam"]
df_tran["movie_id"]=df_tran["fam"].astype(str)#df_tran["DESC_PROD_DEP"]#
df_tran["user_id"]=df_tran["ID_CTE"].astype(str)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [21]:
df_f=df_tran.loc[:,('user_id', 'FECHA_TICKET', 'movie_id')].groupby(['user_id',"movie_id"]).size().reset_index()
df_f.head(10)

    user_id movie_id  0
0  10000040  1105068  1
1  10000040  1204616  1
2  10000040  1701216  1
3  10000040  1863254  2
4  10000212  1106055  3
5  10000212  1867308  2
6  10000212  1869214  1
7  10000212  2224057  1
8  10000292  1101650  1
9  10000292  1312150  1

In [22]:
df_f1=df_f[:50000]

In [23]:
dff1=pd.merge(df_f1, df_demo, on='user_id', how='inner')

dff1.head(10)

,user_id,movie_id,0,ID_CTE,GENERO,EDO_CIVIL,edad,NDepen,TP_HOGAR
0,10000040,1105068,1,10000040,M,S,"(35.0, 45.0]",0,P
1,10000040,1204616,1,10000040,M,S,"(35.0, 45.0]",0,P
2,10000040,1701216,1,10000040,M,S,"(35.0, 45.0]",0,P
3,10000040,1863254,2,10000040,M,S,"(35.0, 45.0]",0,P
4,10000212,1106055,3,10000212,M,S,"(35.0, 45.0]",0,P
5,10000212,1867308,2,10000212,M,S,"(35.0, 45.0]",0,P
6,10000212,1869214,1,10000212,M,S,"(35.0, 45.0]",0,P
7,10000212,2224057,1,10000212,M,S,"(35.0, 45.0]",0,P
8,10000292,1101650,1,10000292,M,U,"(45.0, 55.0]",1,P
9,10000292,1312150,1,10000292,M,U,"(45.0, 55.0]",1,P

In [24]:
df_1=dff1.dropna() 
df_1.head(10)

,user_id,movie_id,0,ID_CTE,GENERO,EDO_CIVIL,edad,NDepen,TP_HOGAR
0,10000040,1105068,1,10000040,M,S,"(35.0, 45.0]",0,P
1,10000040,1204616,1,10000040,M,S,"(35.0, 45.0]",0,P
2,10000040,1701216,1,10000040,M,S,"(35.0, 45.0]",0,P
3,10000040,1863254,2,10000040,M,S,"(35.0, 45.0]",0,P
4,10000212,1106055,3,10000212,M,S,"(35.0, 45.0]",0,P
5,10000212,1867308,2,10000212,M,S,"(35.0, 45.0]",0,P
6,10000212,1869214,1,10000212,M,S,"(35.0, 45.0]",0,P
7,10000212,2224057,1,10000212,M,S,"(35.0, 45.0]",0,P
8,10000292,1101650,1,10000292,M,U,"(45.0, 55.0]",1,P
9,10000292,1312150,1,10000292,M,U,"(45.0, 55.0]",1,P

In [25]:
dff=pd.DataFrame(df_1["movie_id"].unique())
dff["movie_id"]=dff[0].astype(str)
dff.head()

         0 movie_id
0  1105068  1105068
1  1204616  1204616
2  1701216  1701216
3  1863254  1863254
4  1106055  1106055

In [26]:
prod = pd.read_csv("prod_variables.csv",sep=",")

prod.head(10)

,id_Familia,Departamento,Clase,Familia,Categoria,Subcategoria
0,1101002,CABALLEROS,ACCESORIOS,NOVEDADES,Caballeros Accesorios,Caballeros Accesorios
1,1101003,CABALLEROS,ACCESORIOS,BILLETERA,Caballeros Accesorios,Caballeros Accesorios
2,1101004,CABALLEROS,ACCESORIOS,GORRA,Caballeros Accesorios,Caballeros Accesorios
3,1101027,CABALLEROS,ACCESORIOS,CINTO MODA,Caballeros Accesorios,Caballeros Accesorios
4,1101028,CABALLEROS,ACCESORIOS,CINTO VESTIR,Caballeros Accesorios,Caballeros Accesorios
5,1101063,CABALLEROS,ACCESORIOS,PAÑUELO,Caballeros Accesorios,Caballeros Accesorios
6,1101083,CABALLEROS,ACCESORIOS,PLUMAS,Caballeros Accesorios,Caballeros Accesorios
7,1101342,CABALLEROS,ACCESORIOS,MESSENGER,Caballeros Accesorios,Caballeros Accesorios
8,1101649,CABALLEROS,ACCESORIOS,LENTES SOLARES,Caballeros Accesorios,Caballeros Accesorios
9,1101650,CABALLEROS,ACCESORIOS,RELOJES,Caballeros Accesorios,Caballeros Accesorios

In [27]:
prod["movie_id"]=prod["id_Familia"].astype(str)
prod["id_Familia"]=prod["id_Familia"].astype(str)
prod.head()

,id_Familia,Departamento,Clase,Familia,Categoria,Subcategoria,movie_id
0,1101002,CABALLEROS,ACCESORIOS,NOVEDADES,Caballeros Accesorios,Caballeros Accesorios,1101002
1,1101003,CABALLEROS,ACCESORIOS,BILLETERA,Caballeros Accesorios,Caballeros Accesorios,1101003
2,1101004,CABALLEROS,ACCESORIOS,GORRA,Caballeros Accesorios,Caballeros Accesorios,1101004
3,1101027,CABALLEROS,ACCESORIOS,CINTO MODA,Caballeros Accesorios,Caballeros Accesorios,1101027
4,1101028,CABALLEROS,ACCESORIOS,CINTO VESTIR,Caballeros Accesorios,Caballeros Accesorios,1101028

In [28]:
dfff=df_1.loc[:,("user_id","movie_id","GENERO","EDO_CIVIL","edad","NDepen","TP_HOGAR")]
dfff.head(5)

    user_id movie_id GENERO EDO_CIVIL          edad NDepen TP_HOGAR
0  10000040  1105068      M         S  (35.0, 45.0]      0        P
1  10000040  1204616      M         S  (35.0, 45.0]      0        P
2  10000040  1701216      M         S  (35.0, 45.0]      0        P
3  10000040  1863254      M         S  (35.0, 45.0]      0        P
4  10000212  1106055      M         S  (35.0, 45.0]      0        P

In [29]:
dfp=pd.merge(dfff, prod, on='movie_id', how='inner')

dfp.head(10)

,user_id,movie_id,GENERO,EDO_CIVIL,edad,NDepen,TP_HOGAR,id_Familia,Departamento,Clase,Familia,Categoria,Subcategoria
0,10000040,1105068,M,S,"(35.0, 45.0]",0,P,1105068,CABALLEROS,PLAYERA,MODA MC CR,Caballero Exterior,Caballero Exterior
1,10000520,1105068,F,C,"(55.0, 65.0]",1,P,1105068,CABALLEROS,PLAYERA,MODA MC CR,Caballero Exterior,Caballero Exterior
2,10001185,1105068,M,S,"(35.0, 45.0]",0,P,1105068,CABALLEROS,PLAYERA,MODA MC CR,Caballero Exterior,Caballero Exterior
3,10004981,1105068,M,C,"(55.0, 65.0]",1,P,1105068,CABALLEROS,PLAYERA,MODA MC CR,Caballero Exterior,Caballero Exterior
4,10009338,1105068,F,C,"(55.0, 65.0]",1,P,1105068,CABALLEROS,PLAYERA,MODA MC CR,Caballero Exterior,Caballero Exterior
5,10009900,1105068,M,C,"(55.0, 65.0]",1,P,1105068,CABALLEROS,PLAYERA,MODA MC CR,Caballero Exterior,Caballero Exterior
6,10016033,1105068,M,C,"(35.0, 45.0]",1,F,1105068,CABALLEROS,PLAYERA,MODA MC CR,Caballero Exterior,Caballero Exterior
7,1001809,1105068,F,C,"(65.0, 90.0]",0,P,1105068,CABALLEROS,PLAYERA,MODA MC CR,Caballero Exterior,Caballero Exterior
8,10028459,1105068,F,C,"(45.0, 55.0]",1,P,1105068,CABALLEROS,PLAYERA,MODA MC CR,Caballero Exterior,Caballero Exterior
9,10029235,1105068,F,V,"(65.0, 90.0]",0,P,1105068,CABALLEROS,PLAYERA,MODA MC CR,Caballero Exterior,Caballero Exterior

In [30]:
dfpp=dff["movie_id"].unique()#pd.DataFrame({"movie_id" : dff.loc[:,("movie_id")]})#dff["movie_id"].unique()#dfp.loc[:,"movie_id"]
dfpp

array(['1105068', '1204616', '1701216', ..., '2296010', '2509015',
       '1542038'], dtype=object)

In [31]:
dfff=df_1.loc[:,("user_id","movie_id","GENERO","EDO_CIVIL","edad","NDepen","TP_HOGAR")]
dfff.head(5)

    user_id movie_id GENERO EDO_CIVIL          edad NDepen TP_HOGAR
0  10000040  1105068      M         S  (35.0, 45.0]      0        P
1  10000040  1204616      M         S  (35.0, 45.0]      0        P
2  10000040  1701216      M         S  (35.0, 45.0]      0        P
3  10000040  1863254      M         S  (35.0, 45.0]      0        P
4  10000212  1106055      M         S  (35.0, 45.0]      0        P

In [32]:
dfp=pd.merge(prod,dfff, on='movie_id', how='inner')#df_1.loc[:,("user_id","movie_id","GENERO","EDO_CIVIL","edad","NDepen","TP_HOGAR")]
dfp.head(5)

,id_Familia,Departamento,Clase,Familia,Categoria,Subcategoria,movie_id,user_id,GENERO,EDO_CIVIL,edad,NDepen,TP_HOGAR
0,1101002,CABALLEROS,ACCESORIOS,NOVEDADES,Caballeros Accesorios,Caballeros Accesorios,1101002,10020036,M,U,"(35.0, 45.0]",1,F
1,1101002,CABALLEROS,ACCESORIOS,NOVEDADES,Caballeros Accesorios,Caballeros Accesorios,1101002,10635891,M,C,"(35.0, 45.0]",1,P
2,1101003,CABALLEROS,ACCESORIOS,BILLETERA,Caballeros Accesorios,Caballeros Accesorios,1101003,10016033,M,C,"(35.0, 45.0]",1,F
3,1101003,CABALLEROS,ACCESORIOS,BILLETERA,Caballeros Accesorios,Caballeros Accesorios,1101003,10059362,F,S,"(35.0, 45.0]",0,P
4,1101003,CABALLEROS,ACCESORIOS,BILLETERA,Caballeros Accesorios,Caballeros Accesorios,1101003,1007701,F,C,"(45.0, 55.0]",0,P

In [33]:
dfmo=pd.DataFrame({"movie_id" : dff.loc[:,("movie_id")]})#dff["movie_id"].unique()#dfp.loc[:,"movie_id"]
dfmovie=pd.merge(prod,dfmo, on='movie_id', how='inner')
dfmovie.head()

,id_Familia,Departamento,Clase,Familia,Categoria,Subcategoria,movie_id
0,1101002,CABALLEROS,ACCESORIOS,NOVEDADES,Caballeros Accesorios,Caballeros Accesorios,1101002
1,1101003,CABALLEROS,ACCESORIOS,BILLETERA,Caballeros Accesorios,Caballeros Accesorios,1101003
2,1101004,CABALLEROS,ACCESORIOS,GORRA,Caballeros Accesorios,Caballeros Accesorios,1101004
3,1101027,CABALLEROS,ACCESORIOS,CINTO MODA,Caballeros Accesorios,Caballeros Accesorios,1101027
4,1101028,CABALLEROS,ACCESORIOS,CINTO VESTIR,Caballeros Accesorios,Caballeros Accesorios,1101028

In [36]:
ratings = tf.data.Dataset.from_tensor_slices((dfp.to_dict('list')))

In [38]:
ratings.take(10)

<TakeDataset shapes: {id_Familia: (), Departamento: (), Clase: (), Familia: (), Categoria: (), Subcategoria: (), movie_id: (), user_id: (), GENERO: (), EDO_CIVIL: (), edad: (), NDepen: (), TP_HOGAR: ()}, types: {id_Familia: tf.string, Departamento: tf.string, Clase: tf.string, Familia: tf.string, Categoria: tf.string, Subcategoria: tf.string, movie_id: tf.string, user_id: tf.string, GENERO: tf.string, EDO_CIVIL: tf.string, edad: tf.string, NDepen: tf.string, TP_HOGAR: tf.string}>

In [39]:
ratings

<TensorSliceDataset shapes: {id_Familia: (), Departamento: (), Clase: (), Familia: (), Categoria: (), Subcategoria: (), movie_id: (), user_id: (), GENERO: (), EDO_CIVIL: (), edad: (), NDepen: (), TP_HOGAR: ()}, types: {id_Familia: tf.string, Departamento: tf.string, Clase: tf.string, Familia: tf.string, Categoria: tf.string, Subcategoria: tf.string, movie_id: tf.string, user_id: tf.string, GENERO: tf.string, EDO_CIVIL: tf.string, edad: tf.string, NDepen: tf.string, TP_HOGAR: tf.string}>

In [40]:
dfr = tfds.as_dataframe(ratings.take(10))
dfr.head()

,Categoria,Clase,Departamento,EDO_CIVIL,Familia,GENERO,NDepen,Subcategoria,TP_HOGAR,edad,id_Familia,movie_id,user_id
0,b'Caballeros Accesorios',b'ACCESORIOS',b'CABALLEROS',b'U',b'NOVEDADES',b'M',b'1',b'Caballeros Accesorios',b'F',"b'(35.0, 45.0]'",b'1101002',b'1101002',b'10020036'
1,b'Caballeros Accesorios',b'ACCESORIOS',b'CABALLEROS',b'C',b'NOVEDADES',b'M',b'1',b'Caballeros Accesorios',b'P',"b'(35.0, 45.0]'",b'1101002',b'1101002',b'10635891'
2,b'Caballeros Accesorios',b'ACCESORIOS',b'CABALLEROS',b'C',b'BILLETERA',b'M',b'1',b'Caballeros Accesorios',b'F',"b'(35.0, 45.0]'",b'1101003',b'1101003',b'10016033'
3,b'Caballeros Accesorios',b'ACCESORIOS',b'CABALLEROS',b'S',b'BILLETERA',b'F',b'0',b'Caballeros Accesorios',b'P',"b'(35.0, 45.0]'",b'1101003',b'1101003',b'10059362'
4,b'Caballeros Accesorios',b'ACCESORIOS',b'CABALLEROS',b'C',b'BILLETERA',b'F',b'0',b'Caballeros Accesorios',b'P',"b'(45.0, 55.0]'",b'1101003',b'1101003',b'1007701'

In [42]:
movies= tf.data.Dataset.from_tensor_slices((dfmovie.to_dict('list')))

In [43]:
movies

<TensorSliceDataset shapes: {id_Familia: (), Departamento: (), Clase: (), Familia: (), Categoria: (), Subcategoria: (), movie_id: ()}, types: {id_Familia: tf.string, Departamento: tf.string, Clase: tf.string, Familia: tf.string, Categoria: tf.string, Subcategoria: tf.string, movie_id: tf.string}>

In [44]:
dfm = tfds.as_dataframe(movies.take(10))
dfm.head()

,Categoria,Clase,Departamento,Familia,Subcategoria,id_Familia,movie_id
0,b'Caballeros Accesorios',b'ACCESORIOS',b'CABALLEROS',b'NOVEDADES',b'Caballeros Accesorios',b'1101002',b'1101002'
1,b'Caballeros Accesorios',b'ACCESORIOS',b'CABALLEROS',b'BILLETERA',b'Caballeros Accesorios',b'1101003',b'1101003'
2,b'Caballeros Accesorios',b'ACCESORIOS',b'CABALLEROS',b'GORRA',b'Caballeros Accesorios',b'1101004',b'1101004'
3,b'Caballeros Accesorios',b'ACCESORIOS',b'CABALLEROS',b'CINTO MODA',b'Caballeros Accesorios',b'1101027',b'1101027'
4,b'Caballeros Accesorios',b'ACCESORIOS',b'CABALLEROS',b'CINTO VESTIR',b'Caballeros Accesorios',b'1101028',b'1101028'

In [45]:
user_ids_vocabulary = tf.keras.layers.experimental.preprocessing.StringLookup(mask_token=None)
user_ids_vocabulary.adapt(ratings.map(lambda x: x["user_id"]))
#y=ratings.map(lambda x: x["user_id"])

movie_titles_vocabulary = tf.keras.layers.experimental.preprocessing.StringLookup(mask_token=None)
movie_titles_vocabulary.adapt(movies.map(lambda x: x["movie_id"]))

In [46]:
#timestamps = np.concatenate(list(ratings.map(lambda x: x["GENERO"].astype(int)).batch(50)))

#max_timestamp = timestamps.max()
#min_timestamp = timestamps.min()

#timestamp_buckets = np.linspace(
 #   min_timestamp, max_timestamp, num=100,
#)

timestamps= np.unique(np.concatenate(list(ratings.batch(5_0).map(
    lambda x: x["GENERO"]))))

EC= np.unique(np.concatenate(list(ratings.batch(5_0).map(
    lambda x: x["EDO_CIVIL"]))))

ED= np.unique(np.concatenate(list(ratings.batch(5_0).map(
    lambda x: x["edad"]))))

DE= np.unique(np.concatenate(list(ratings.batch(5_0).map(
    lambda x: x["NDepen"]))))


TP= np.unique(np.concatenate(list(ratings.batch(5_0).map(
    lambda x: x["TP_HOGAR"]))))

cat= np.unique(np.concatenate(list(ratings.batch(5_0).map(
    lambda x: x["Categoria"]))))

fam= np.unique(np.concatenate(list(ratings.batch(5_0).map(
    lambda x: x["Familia"]))))


unique_movie_titles = np.unique(np.concatenate(list(ratings.batch(5_0).map(
    lambda x: x["movie_id"]))))
unique_user_ids = np.unique(np.concatenate(list(ratings.batch(5_0).map(
    lambda x: x["user_id"]))))

In [47]:
class UserModel(tf.keras.Model):
  
  def __init__(self, use_timestamps):
    super().__init__()

    self._use_timestamps = use_timestamps

    self.user_embedding = tf.keras.Sequential([
        tf.keras.layers.experimental.preprocessing.StringLookup(
            vocabulary=unique_user_ids, mask_token=None),
        tf.keras.layers.Embedding(len(unique_user_ids) + 1, 32),
    ])

    if use_timestamps:
      self.timestamp_embedding = tf.keras.Sequential([
      tf.keras.layers.experimental.preprocessing.StringLookup(
        vocabulary=timestamps, mask_token=None),
      tf.keras.layers.Embedding(len(timestamps) + 1, 32)
        ])
    
      self.EC_embedding = tf.keras.Sequential([
      tf.keras.layers.experimental.preprocessing.StringLookup(
        vocabulary=EC, mask_token=None),
      tf.keras.layers.Embedding(len(EC) + 1, 32)
        ])
        
      self.ED_embedding = tf.keras.Sequential([
      tf.keras.layers.experimental.preprocessing.StringLookup(
        vocabulary=ED, mask_token=None),
      tf.keras.layers.Embedding(len(ED) + 1, 32)
        ])
    
      self.DE_embedding = tf.keras.Sequential([
      tf.keras.layers.experimental.preprocessing.StringLookup(
        vocabulary=DE, mask_token=None),
      tf.keras.layers.Embedding(len(DE) + 1, 32)
        ])
        
      self.TP_embedding = tf.keras.Sequential([
      tf.keras.layers.experimental.preprocessing.StringLookup(
        vocabulary=TP, mask_token=None),
      tf.keras.layers.Embedding(len(TP) + 1, 32)
       ])

  def call(self, inputs):
    if not self._use_timestamps:
      return self.user_embedding(inputs["user_id"])
    #tf.print(inputs["user_id"])
    return tf.concat([
            self.user_embedding(inputs["user_id"]),
            self.timestamp_embedding(inputs["GENERO"]),
            self.EC_embedding(inputs["EDO_CIVIL"]),
            self.ED_embedding(inputs["edad"]),
            self.DE_embedding(inputs["NDepen"]),
            self.TP_embedding(inputs["TP_HOGAR"])
            ], axis=1)

In [48]:
class MovieModel(tf.keras.Model):
  
  def __init__(self,use_timestamps):
    super().__init__()
    self._use_timestamps = use_timestamps
    max_tokens = 10_000

    self.title_embedding = tf.keras.Sequential([
      tf.keras.layers.experimental.preprocessing.StringLookup(
          vocabulary=unique_movie_titles, mask_token=None),
      tf.keras.layers.Embedding(len(unique_movie_titles) + 1, 32)
    ])
    
    self.title_vectorizer = tf.keras.layers.experimental.preprocessing.TextVectorization(
        max_tokens=max_tokens)

    self.title_text_embedding = tf.keras.Sequential([
      self.title_vectorizer,
      tf.keras.layers.Embedding(max_tokens, 32, mask_zero=True),
      tf.keras.layers.GlobalAveragePooling1D(),
    ])

    #self.title_vectorizer.adapt(movies)
    self.title_vectorizer.adapt(ratings.map(lambda x: x["movie_id"]))
    if use_timestamps:
        self.cat_embedding = tf.keras.Sequential([
        tf.keras.layers.experimental.preprocessing.StringLookup(
        vocabulary=cat, mask_token=None),
        tf.keras.layers.Embedding(len(cat) + 1, 32)
        ])
        
        self.fam_embedding = tf.keras.Sequential([
        tf.keras.layers.experimental.preprocessing.StringLookup(
        vocabulary=fam, mask_token=None),
        tf.keras.layers.Embedding(len(fam) + 1, 32)
        ])
    
   # def call(self, inputs):
    #if not self._use_timestamps:
     # return self.title_embedding(titles["movie_id"]),
      #  self.title_text_embedding(titles["movie_id"])
    
  def call(self, titles):
    if not self._use_timestamps:
      return tf.concat([
            self.title_embedding(titles["movie_id"]),
            self.title_text_embedding(titles["movie_id"]),
        ], axis=1)

      #tf.print(titles["movie_id"])
    return tf.concat([
            self.title_embedding(titles["movie_id"]),
            self.title_text_embedding(titles["movie_id"]),
            self.cat_embedding(titles["Categoria"]),
            self.fam_embedding(titles["Familia"])
            ], axis=1)

In [49]:
class MovielensModel(tfrs.models.Model):

  def __init__(self, use_timestamps):
    super().__init__()
    self.query_model = tf.keras.Sequential([
      UserModel(use_timestamps),
      tf.keras.layers.Dense(32)
    ])
    self.candidate_model = tf.keras.Sequential([
      MovieModel(use_timestamps),
      tf.keras.layers.Dense(32)
    ])
    self.task = tfrs.tasks.Retrieval(
        metrics=tfrs.metrics.FactorizedTopK(
            candidates=movies.batch(128).map(self.candidate_model),
        ),
    )

  def compute_loss(self, features, training=False):
    # We only pass the user id and timestamp features into the query model. This
    # is to ensure that the training inputs would have the same keys as the
    # query inputs. Otherwise the discrepancy in input structure would cause an
    # error when loading the query model after saving it.
    query_embeddings = self.query_model({
        "user_id": features["user_id"],
        "GENERO": features["GENERO"],
        "EDO_CIVIL": features["EDO_CIVIL"],
        "edad": features["edad"],
         "NDepen": features["NDepen"],
         "TP_HOGAR": features["TP_HOGAR"]
                                            })
    #movie_embeddings = self.candidate_model(features["movie_id"])
    
    movie_embeddings = self.candidate_model({
       "movie_id": features["movie_id"],
       "Categoria": features["Categoria"],
        "Familia": features["Familia"]
                                                 
                                                 })
    
    #movie_embeddings = self.candidate_model(features["movie_title"])

    return self.task(query_embeddings, movie_embeddings)

In [50]:
tf.random.set_seed(42)
shuffled = ratings.shuffle(1_000, seed=42, reshuffle_each_iteration=False)

train = shuffled.take(8_000)
test = shuffled.skip(8_000).take(2_000)

cached_train = train.shuffle(1_000).batch(204)
cached_test = test.batch(406).cache()

In [51]:
model = MovielensModel(use_timestamps=False)
model.compile(optimizer=tf.keras.optimizers.Adagrad(0.1))

model.fit(cached_train, epochs=3)

train_accuracy = model.evaluate(
    cached_train, return_dict=True)["factorized_top_k/top_100_categorical_accuracy"]
test_accuracy = model.evaluate(
    cached_test, return_dict=True)["factorized_top_k/top_100_categorical_accuracy"]

print(f"Top-100 accuracy (train): {train_accuracy:.2f}.")
print(f"Top-100 accuracy (test): {test_accuracy:.2f}.")

WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'id_Familia': <tf.Tensor 'args_5:0' shape=(None,) dtype=string>, 'Departamento': <tf.Tensor 'args_2:0' shape=(None,) dtype=string>, 'Clase': <tf.Tensor 'args_1:0' shape=(None,) dtype=string>, 'Familia': <tf.Tensor 'args_3:0' shape=(None,) dtype=string>, 'Categoria': <tf.Tensor 'args_0:0' shape=(None,) dtype=string>, 'Subcategoria': <tf.Tensor 'args_4:0' shape=(None,) dtype=string>, 'movie_id': <tf.Tensor 'args_6:0' shape=(None,) dtype=string>}
Consider rewriting this model with the Functional API.
Epoch 1/3
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'user_id': <tf.Tensor 'IteratorGetNext:12' shape=(None,) dtype=string>, 'GENERO': <tf.Tensor 'IteratorGetNext:5' shape=(None,) dtype=string>, 'EDO_CIVIL': <tf.Tensor 'IteratorGetNext:3' shape=(None,) dtype=string>, 'edad': <tf.Tensor 'IteratorGetNext:9' shape=(None,) dtype=string>, 'NDepen': <tf.Tensor 'IteratorGetNext:6' shape=(None,) dtype=string>, 'TP_HOGAR': <tf.Tensor 'IteratorGetNext:8' shape=(None,) dtype=string>}
Consider rewriting this model with the Functional API.
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'movie_id': <tf.Tensor 'IteratorGetNext:11' shape=(None,) dtype=string>, 'Categoria': <tf.Tensor 'IteratorGetNext:0' shape=(None,) dtype=string>, 'Familia': <tf.Tensor 'IteratorGetNext:4' shape=(None,) dtype=string>}
Consider rewriting this model with the Functional API.
WARNING:tensorflow:The dtype of the source tensor must be floating (e.g. tf.float32) when calling GradientTape.gradient, got tf.int32
WARNING:tensorflow:Gradients do not exist for variables ['counter:0'] when minimizing the loss.
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'user_id': <tf.Tensor 'IteratorGetNext:12' shape=(None,) dtype=string>, 'GENERO': <tf.Tensor 'IteratorGetNext:5' shape=(None,) dtype=string>, 'EDO_CIVIL': <tf.Tensor 'IteratorGetNext:3' shape=(None,) dtype=string>, 'edad': <tf.Tensor 'IteratorGetNext:9' shape=(None,) dtype=string>, 'NDepen': <tf.Tensor 'IteratorGetNext:6' shape=(None,) dtype=string>, 'TP_HOGAR': <tf.Tensor 'IteratorGetNext:8' shape=(None,) dtype=string>}
Consider rewriting this model with the Functional API.
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'movie_id': <tf.Tensor 'IteratorGetNext:11' shape=(None,) dtype=string>, 'Categoria': <tf.Tensor 'IteratorGetNext:0' shape=(None,) dtype=string>, 'Familia': <tf.Tensor 'IteratorGetNext:4' shape=(None,) dtype=string>}
Consider rewriting this model with the Functional API.
WARNING:tensorflow:The dtype of the source tensor must be floating (e.g. tf.float32) when calling GradientTape.gradient, got tf.int32
WARNING:tensorflow:Gradients do not exist for variables ['counter:0'] when minimizing the loss.
40/40 [==============================] - 8s 110ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0182 - factorized_top_k/top_5_categorical_accuracy: 0.0820 - factorized_top_k/top_10_categorical_accuracy: 0.1484 - factorized_top_k/top_50_categorical_accuracy: 0.3088 - factorized_top_k/top_100_categorical_accuracy: 0.3478 - loss: 1040.8782 - regularization_loss: 0.0000e+00 - total_loss: 1040.8782
Epoch 2/3
40/40 [==============================] - 4s 109ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0298 - factorized_top_k/top_5_categorical_accuracy: 0.1265 - factorized_top_k/top_10_categorical_accuracy: 0.2120 - factorized_top_k/top_50_categorical_accuracy: 0.5052 - factorized_top_k/top_100_categorical_accuracy: 0.5794 - loss: 1028.1446 - regularization_loss: 0.0000e+00 - total_loss: 1028.1446
Epoch 3/3
40/40 [==============================] - 4s 108ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0234 - factorized_top_k/top_5_categorical_accuracy: 0.1800 - factorized_top_k/top_10_categorical_accuracy: 0.2975 - factorized_top_k/top_50_categorical_accuracy: 0.6379 - factorized_top_k/top_100_categorical_accuracy: 0.7544 - loss: 977.6014 - regularization_loss: 0.0000e+00 - total_loss: 977.6014
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'user_id': <tf.Tensor 'IteratorGetNext:12' shape=(None,) dtype=string>, 'GENERO': <tf.Tensor 'IteratorGetNext:5' shape=(None,) dtype=string>, 'EDO_CIVIL': <tf.Tensor 'IteratorGetNext:3' shape=(None,) dtype=string>, 'edad': <tf.Tensor 'IteratorGetNext:9' shape=(None,) dtype=string>, 'NDepen': <tf.Tensor 'IteratorGetNext:6' shape=(None,) dtype=string>, 'TP_HOGAR': <tf.Tensor 'IteratorGetNext:8' shape=(None,) dtype=string>}
Consider rewriting this model with the Functional API.
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'movie_id': <tf.Tensor 'IteratorGetNext:11' shape=(None,) dtype=string>, 'Categoria': <tf.Tensor 'IteratorGetNext:0' shape=(None,) dtype=string>, 'Familia': <tf.Tensor 'IteratorGetNext:4' shape=(None,) dtype=string>}
Consider rewriting this model with the Functional API.
40/40 [==============================] - 5s 107ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0712 - factorized_top_k/top_5_categorical_accuracy: 0.2669 - factorized_top_k/top_10_categorical_accuracy: 0.3869 - factorized_top_k/top_50_categorical_accuracy: 0.7523 - factorized_top_k/top_100_categorical_accuracy: 0.8614 - loss: 894.8544 - regularization_loss: 0.0000e+00 - total_loss: 894.8544
5/5 [==============================] - 1s 130ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0035 - factorized_top_k/top_5_categorical_accuracy: 0.0190 - factorized_top_k/top_10_categorical_accuracy: 0.0410 - factorized_top_k/top_50_categorical_accuracy: 0.1410 - factorized_top_k/top_100_categorical_accuracy: 0.2190 - loss: 2429.9681 - regularization_loss: 0.0000e+00 - total_loss: 2429.9681
Top-100 accuracy (train): 0.86.
Top-100 accuracy (test): 0.22.

In [52]:
model = MovielensModel(use_timestamps=True)
model.compile(optimizer=tf.keras.optimizers.Adagrad(0.1))

model.fit(cached_train, epochs=3)

train_accuracy = model.evaluate(
    cached_train, return_dict=True)["factorized_top_k/top_100_categorical_accuracy"]
test_accuracy = model.evaluate(
    cached_test, return_dict=True)["factorized_top_k/top_100_categorical_accuracy"]

print(f"accuracy (train): {train_accuracy:.2f}.")
print(f"accuracy (test): {test_accuracy:.2f}.")

WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'id_Familia': <tf.Tensor 'args_5:0' shape=(None,) dtype=string>, 'Departamento': <tf.Tensor 'args_2:0' shape=(None,) dtype=string>, 'Clase': <tf.Tensor 'args_1:0' shape=(None,) dtype=string>, 'Familia': <tf.Tensor 'args_3:0' shape=(None,) dtype=string>, 'Categoria': <tf.Tensor 'args_0:0' shape=(None,) dtype=string>, 'Subcategoria': <tf.Tensor 'args_4:0' shape=(None,) dtype=string>, 'movie_id': <tf.Tensor 'args_6:0' shape=(None,) dtype=string>}
Consider rewriting this model with the Functional API.
Epoch 1/3
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'user_id': <tf.Tensor 'IteratorGetNext:12' shape=(None,) dtype=string>, 'GENERO': <tf.Tensor 'IteratorGetNext:5' shape=(None,) dtype=string>, 'EDO_CIVIL': <tf.Tensor 'IteratorGetNext:3' shape=(None,) dtype=string>, 'edad': <tf.Tensor 'IteratorGetNext:9' shape=(None,) dtype=string>, 'NDepen': <tf.Tensor 'IteratorGetNext:6' shape=(None,) dtype=string>, 'TP_HOGAR': <tf.Tensor 'IteratorGetNext:8' shape=(None,) dtype=string>}
Consider rewriting this model with the Functional API.
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'movie_id': <tf.Tensor 'IteratorGetNext:11' shape=(None,) dtype=string>, 'Categoria': <tf.Tensor 'IteratorGetNext:0' shape=(None,) dtype=string>, 'Familia': <tf.Tensor 'IteratorGetNext:4' shape=(None,) dtype=string>}
Consider rewriting this model with the Functional API.
WARNING:tensorflow:The dtype of the source tensor must be floating (e.g. tf.float32) when calling GradientTape.gradient, got tf.int32
WARNING:tensorflow:Gradients do not exist for variables ['counter:0'] when minimizing the loss.
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'user_id': <tf.Tensor 'IteratorGetNext:12' shape=(None,) dtype=string>, 'GENERO': <tf.Tensor 'IteratorGetNext:5' shape=(None,) dtype=string>, 'EDO_CIVIL': <tf.Tensor 'IteratorGetNext:3' shape=(None,) dtype=string>, 'edad': <tf.Tensor 'IteratorGetNext:9' shape=(None,) dtype=string>, 'NDepen': <tf.Tensor 'IteratorGetNext:6' shape=(None,) dtype=string>, 'TP_HOGAR': <tf.Tensor 'IteratorGetNext:8' shape=(None,) dtype=string>}
Consider rewriting this model with the Functional API.
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'movie_id': <tf.Tensor 'IteratorGetNext:11' shape=(None,) dtype=string>, 'Categoria': <tf.Tensor 'IteratorGetNext:0' shape=(None,) dtype=string>, 'Familia': <tf.Tensor 'IteratorGetNext:4' shape=(None,) dtype=string>}
Consider rewriting this model with the Functional API.
WARNING:tensorflow:The dtype of the source tensor must be floating (e.g. tf.float32) when calling GradientTape.gradient, got tf.int32
WARNING:tensorflow:Gradients do not exist for variables ['counter:0'] when minimizing the loss.
40/40 [==============================] - 6s 107ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0235 - factorized_top_k/top_5_categorical_accuracy: 0.0699 - factorized_top_k/top_10_categorical_accuracy: 0.1135 - factorized_top_k/top_50_categorical_accuracy: 0.3380 - factorized_top_k/top_100_categorical_accuracy: 0.4644 - loss: 1205.4792 - regularization_loss: 0.0000e+00 - total_loss: 1205.4792
Epoch 2/3
40/40 [==============================] - 4s 108ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0051 - factorized_top_k/top_5_categorical_accuracy: 0.0564 - factorized_top_k/top_10_categorical_accuracy: 0.1065 - factorized_top_k/top_50_categorical_accuracy: 0.2860 - factorized_top_k/top_100_categorical_accuracy: 0.3950 - loss: 1016.2686 - regularization_loss: 0.0000e+00 - total_loss: 1016.2686
Epoch 3/3
40/40 [==============================] - 4s 107ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0108 - factorized_top_k/top_5_categorical_accuracy: 0.1047 - factorized_top_k/top_10_categorical_accuracy: 0.1828 - factorized_top_k/top_50_categorical_accuracy: 0.4649 - factorized_top_k/top_100_categorical_accuracy: 0.5869 - loss: 967.8359 - regularization_loss: 0.0000e+00 - total_loss: 967.8359
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'user_id': <tf.Tensor 'IteratorGetNext:12' shape=(None,) dtype=string>, 'GENERO': <tf.Tensor 'IteratorGetNext:5' shape=(None,) dtype=string>, 'EDO_CIVIL': <tf.Tensor 'IteratorGetNext:3' shape=(None,) dtype=string>, 'edad': <tf.Tensor 'IteratorGetNext:9' shape=(None,) dtype=string>, 'NDepen': <tf.Tensor 'IteratorGetNext:6' shape=(None,) dtype=string>, 'TP_HOGAR': <tf.Tensor 'IteratorGetNext:8' shape=(None,) dtype=string>}
Consider rewriting this model with the Functional API.
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'movie_id': <tf.Tensor 'IteratorGetNext:11' shape=(None,) dtype=string>, 'Categoria': <tf.Tensor 'IteratorGetNext:0' shape=(None,) dtype=string>, 'Familia': <tf.Tensor 'IteratorGetNext:4' shape=(None,) dtype=string>}
Consider rewriting this model with the Functional API.
40/40 [==============================] - 5s 107ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0584 - factorized_top_k/top_5_categorical_accuracy: 0.2156 - factorized_top_k/top_10_categorical_accuracy: 0.3203 - factorized_top_k/top_50_categorical_accuracy: 0.6014 - factorized_top_k/top_100_categorical_accuracy: 0.7156 - loss: 899.7042 - regularization_loss: 0.0000e+00 - total_loss: 899.7042
5/5 [==============================] - 1s 126ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0025 - factorized_top_k/top_5_categorical_accuracy: 0.0190 - factorized_top_k/top_10_categorical_accuracy: 0.0420 - factorized_top_k/top_50_categorical_accuracy: 0.1525 - factorized_top_k/top_100_categorical_accuracy: 0.2685 - loss: 2457.4288 - regularization_loss: 0.0000e+00 - total_loss: 2457.4288
accuracy (train): 0.72.
accuracy (test): 0.27.

In [53]:
model.evaluate(cached_test, return_dict=True)

5/5 [==============================] - 1s 127ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0025 - factorized_top_k/top_5_categorical_accuracy: 0.0190 - factorized_top_k/top_10_categorical_accuracy: 0.0420 - factorized_top_k/top_50_categorical_accuracy: 0.1525 - factorized_top_k/top_100_categorical_accuracy: 0.2685 - loss: 2457.4288 - regularization_loss: 0.0000e+00 - total_loss: 2457.4288

{'factorized_top_k/top_1_categorical_accuracy': 0.0024999999441206455,
 'factorized_top_k/top_5_categorical_accuracy': 0.01899999938905239,
 'factorized_top_k/top_10_categorical_accuracy': 0.041999999433755875,
 'factorized_top_k/top_50_categorical_accuracy': 0.1525000035762787,
 'factorized_top_k/top_100_categorical_accuracy': 0.2685000002384186,
 'loss': 2283.7548828125,
 'regularization_loss': 0,
 'total_loss': 2283.7548828125}

In [55]:
# Create a model that takes in raw query features, and
index = tfrs.layers.factorized_top_k.BruteForce(model.query_model)
# recommends movies out of the entire movies dataset.
index.index(movies.map(lambda x: x["movie_id"]).batch(100).map(model.candidate_model), movies.map(lambda x: x["movie_id"]))

# Get recommendations.
#_, titles = index(tf.constant(["42"]))
#print(f"Recommendations for user 42: {titles[0, :3]}")

WARNING:tensorflow:AutoGraph could not transform <function <lambda> at 0x7fdcc86e4d40> and will run it as-is.
Cause: could not parse the source code of <function <lambda> at 0x7fdcc86e4d40>: found multiple definitions with identical signatures at the location. This error may be avoided by defining each lambda on a single line and with unique argument names.
Match 0:
(lambda x: x['movie_id'])

Match 1:
(lambda x: x['movie_id'])

To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
WARNING: AutoGraph could not transform <function <lambda> at 0x7fdcc86e4d40> and will run it as-is.
Cause: could not parse the source code of <function <lambda> at 0x7fdcc86e4d40>: found multiple definitions with identical signatures at the location. This error may be avoided by defining each lambda on a single line and with unique argument names.
Match 0:
(lambda x: x['movie_id'])

Match 1:
(lambda x: x['movie_id'])

To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert

TypeError: in user code:

    <ipython-input-48-bb187e6bd5a1>:55 call  *
        self.fam_embedding(titles["Familia"])
    /opt/conda/lib/python3.7/site-packages/tensorflow/python/util/dispatch.py:201 wrapper
        return target(*args, **kwargs)
    /opt/conda/lib/python3.7/site-packages/tensorflow/python/ops/array_ops.py:1009 _slice_helper
        _check_index(s)
    /opt/conda/lib/python3.7/site-packages/tensorflow/python/ops/array_ops.py:886 _check_index
        raise TypeError(_SLICE_TYPE_ERROR + ", got {!r}".format(idx))

    TypeError: Only integers, slices (`:`), ellipsis (`...`), tf.newaxis (`None`) and scalar tf.int32/tf.int64 tensors are valid indices, got 'movie_id'

In [54]:
scann_index = tfrs.layers.factorized_top_k.ScaNN(model.query_model)
scann_index.index(movies.batch(100).map(model.candidate_model), movies)

WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'id_Familia': <tf.Tensor 'args_5:0' shape=(None,) dtype=string>, 'Departamento': <tf.Tensor 'args_2:0' shape=(None,) dtype=string>, 'Clase': <tf.Tensor 'args_1:0' shape=(None,) dtype=string>, 'Familia': <tf.Tensor 'args_3:0' shape=(None,) dtype=string>, 'Categoria': <tf.Tensor 'args_0:0' shape=(None,) dtype=string>, 'Subcategoria': <tf.Tensor 'args_4:0' shape=(None,) dtype=string>, 'movie_id': <tf.Tensor 'args_6:0' shape=(None,) dtype=string>}
Consider rewriting this model with the Functional API.

ValueError: Attempt to convert a value ({'id_Familia': <tf.Tensor: shape=(), dtype=string, numpy=b'1101002'>, 'Departamento': <tf.Tensor: shape=(), dtype=string, numpy=b'CABALLEROS'>, 'Clase': <tf.Tensor: shape=(), dtype=string, numpy=b'ACCESORIOS'>, 'Familia': <tf.Tensor: shape=(), dtype=string, numpy=b'NOVEDADES'>, 'Categoria': <tf.Tensor: shape=(), dtype=string, numpy=b'Caballeros Accesorios'>, 'Subcategoria': <tf.Tensor: shape=(), dtype=string, numpy=b'Caballeros Accesorios'>, 'movie_id': <tf.Tensor: shape=(), dtype=string, numpy=b'1101002'>}) with an unsupported type (<class 'dict'>) to a Tensor.

In [ ]:
# Get recommendations.
_, titles = scann_index(tf.constant(["42"]))
print(f"Recommendations for user 42: {titles[0, :3]}")

In [73]:
class MovielensModel(tfrs.Model):

  def __init__(self, user_model, movie_model):
    super().__init__()
    self.movie_model: tf.keras.Model = movie_model
    self.user_model: tf.keras.Model = user_model
    self.task: tf.keras.layers.Layer = task

  def compute_loss(self, features: Dict[Text, tf.Tensor], training=False) -> tf.Tensor:
    # We pick out the user features and pass them into the user model.
    user_embeddings = self.user_model(features["user_id","GENERO","EDO_CIVIL"])
    # And pick out the movie features and pass them into the movie model,
    # getting embeddings back.
    positive_movie_embeddings = self.movie_model(features["movie_title"])

    # The task computes the loss and the metrics.
    return self.task(user_embeddings, positive_movie_embeddings)

In [74]:
user_model = tf.keras.Sequential([
    user_ids_vocabulary,
    tf.keras.layers.Embedding(user_ids_vocabulary.vocab_size(), 1000)
])
movie_model = tf.keras.Sequential([
    movie_titles_vocabulary,    
    tf.keras.layers.Embedding(movie_titles_vocabulary.vocab_size(), 1000)
])

# Define your objectives.
task = tfrs.tasks.Retrieval(metrics=tfrs.metrics.FactorizedTopK(
    movies.batch(28).map(movie_model)
  )
)

In [56]:
model.user_model.predict(np.array(["138"]))

array([[ 4.97999042e-03, -1.83736570e-02,  1.16316229e-03,
         2.74277665e-02,  4.98649962e-02,  4.56113927e-02,
         7.81090185e-03, -9.27485526e-04,  1.48377754e-02,
        -2.76878960e-02,  3.50721367e-02,  2.78701074e-02,
         4.71521057e-02,  4.84329574e-02,  2.44679302e-03,
         1.24264248e-02, -4.98382822e-02,  2.06773169e-02,
         2.30567716e-02, -1.29004568e-03, -2.83110868e-02,
         3.36977728e-02,  8.31341743e-03,  4.01573889e-02,
         3.33807133e-02, -3.51386182e-02, -1.10668167e-02,
        -4.34323922e-02,  4.95199226e-02,  2.52286531e-02,
        -3.01531442e-02,  4.68717851e-02, -3.16448361e-02,
         1.54444240e-02,  2.77019478e-02,  4.88602854e-02,
        -3.28195579e-02,  3.50382589e-02, -1.02340691e-02,
         4.31673639e-02,  3.62020992e-02, -2.88588293e-02,
        -7.40443543e-03, -1.72408670e-03, -2.38767266e-02,
        -3.37214619e-02, -3.79501358e-02, -9.16055590e-03,
        -4.91043106e-02, -4.01937738e-02,  9.68147069e-04,
         1.02046616e-02,  4.90441434e-02,  2.03829147e-02,
         1.71130560e-02,  2.26132385e-02,  1.41719915e-02,
         4.69762199e-02, -3.67306471e-02,  4.63185199e-02,
         4.09953855e-02, -3.97475846e-02, -4.35786620e-02,
        -2.68591046e-02, -3.12552452e-02,  1.22965574e-02,
         4.37836535e-02,  1.68687589e-02,  2.48390771e-02,
        -4.66448069e-03, -2.41515767e-02, -6.11998886e-03,
         1.08127967e-02, -4.14712802e-02,  2.23584287e-02,
        -4.64845300e-02, -1.32662281e-02,  2.29355805e-02,
         2.00524218e-02,  1.94211863e-02, -2.26139911e-02,
         1.38809532e-03, -2.97946855e-03, -2.28453632e-02,
        -2.93250810e-02,  1.64087899e-02,  4.12005521e-02,
        -2.80451663e-02,  3.69689502e-02, -9.88830253e-03,
        -1.14896297e-02, -3.12915929e-02,  1.71170570e-02,
         2.33280323e-02, -4.55588959e-02,  4.49025743e-02,
        -4.25367616e-02,  3.54145840e-03, -1.16029158e-02,
        -6.67840242e-03, -4.51083295e-02, -2.37344988e-02,
        -6.60953671e-03, -3.54349501e-02, -3.10853124e-02,
         2.01761164e-02, -3.41010317e-02, -1.40456073e-02,
        -1.31536946e-02,  4.00499217e-02, -8.35133716e-03,
         3.43296565e-02,  4.62465025e-02,  6.12199306e-04,
        -3.16605456e-02,  9.94221121e-03, -1.47162564e-02,
         4.65083607e-02,  8.41231272e-03, -2.15163957e-02,
        -1.61753073e-02, -3.59843262e-02,  2.41340138e-02,
        -1.80931464e-02, -2.72660851e-02,  9.23844427e-03,
        -2.65261065e-02, -4.25922871e-03,  4.53004502e-02,
        -4.17980924e-02,  2.01171152e-02,  1.34172700e-02,
         4.41335700e-02, -8.38629156e-03,  1.36620142e-02,
         2.24660523e-02,  4.68405224e-02,  2.30016597e-02,
        -1.99704766e-02,  2.96536721e-02, -4.20800559e-02,
        -4.26635407e-02,  1.50674470e-02,  4.91004251e-02,
         4.75633852e-02, -4.73259948e-02, -1.20334700e-03,
        -3.63654494e-02,  3.40264104e-02, -4.42938320e-02,
         3.46734561e-02,  4.70605157e-02, -3.93056646e-02,
         4.34903018e-02, -3.43657658e-03, -2.94909831e-02,
         4.59265970e-02,  4.09819968e-02,  3.11000012e-02,
         1.49485730e-02,  1.74995698e-02, -7.88270310e-03,
         3.70862521e-02, -3.10238451e-03, -2.25769635e-02,
        -4.78127263e-02,  1.87459923e-02, -2.01934222e-02,
        -4.34966348e-02,  2.63576545e-02,  3.16790491e-03,
         4.52604927e-02, -3.33419591e-02,  2.43493579e-02,
         3.02397348e-02,  3.19026746e-02, -4.02759202e-02,
         1.00565068e-02,  4.72145416e-02,  4.56602462e-02,
         2.96549872e-03, -4.11313772e-02,  3.28318030e-03,
        -1.42838955e-02,  6.46783039e-03, -1.77213438e-02,
        -1.86776742e-02, -4.34048548e-02, -6.66249916e-03,
        -3.99848931e-02, -2.13616248e-02,  2.80935206e-02,
         2.30094902e-02,  4.52516414e-02, -5.26458025e-03,
        -4.68307845e-02, -4.76030111e-02, -4.10008430e-02,
        -9.28157568e-03,  1.50609128e-02, -4.46723364e-02,
         3.20540927e-02,  1.90163143e-02, -1.73982158e-02,
         4.42169048e-02,  1.31558254e-03, -4.42657843e-02,
        -2.39416361e-02, -4.50426228e-02,  1.19436383e-02,
        -4.31253426e-02, -4.91504930e-02,  3.45995463e-02,
        -9.99194384e-03,  1.41244642e-02, -2.26008892e-02,
        -3.76738608e-04,  3.07540335e-02,  1.73846632e-03,
         4.67402376e-02, -2.42663510e-02,  1.05653405e-02,
        -6.73148781e-03, -1.90829281e-02,  1.14216693e-02,
        -1.97566152e-02, -3.23754549e-02, -2.77860649e-02,
         4.92240526e-02,  4.97905500e-02,  1.27454288e-02,
        -2.76339892e-02, -4.72401753e-02,  1.44818909e-02,
         2.66046189e-02, -3.88547070e-02, -3.58819589e-02,
         2.74018086e-02,  5.02800941e-03,  4.06686999e-02,
        -4.64108698e-02,  3.94824035e-02, -4.63153012e-02,
         2.38395073e-02, -1.06811039e-02,  1.27951056e-03,
         2.84467377e-02, -1.87543519e-02,  1.56337731e-02,
         4.51800488e-02, -3.97005901e-02, -4.43969034e-02,
        -1.47237554e-02, -4.39287797e-02, -2.40056869e-02,
        -1.25802867e-02, -2.97722109e-02, -6.91465288e-03,
         1.32692717e-02,  2.86968462e-02,  3.75656970e-02,
         4.51359414e-02,  4.36965860e-02,  1.84367411e-02,
         3.24110277e-02, -3.53426114e-02, -1.18857734e-02,
        -4.04248722e-02, -2.59191636e-02, -1.96911339e-02,
        -3.42721827e-02,  5.06420061e-03, -4.14679050e-02,
        -3.22587714e-02, -3.61307040e-02,  3.09948660e-02,
         2.87569277e-02,  1.55110471e-02, -6.66398928e-03,
         4.04970907e-02, -4.19921651e-02, -3.31925042e-02,
         6.80135563e-03, -3.32547352e-03,  9.32701677e-03,
        -4.12692912e-02, -2.76367310e-02,  4.58302386e-02,
        -3.48936692e-02,  1.70377232e-02, -3.84202488e-02,
        -3.77564207e-02, -3.37582380e-02,  2.43380181e-02,
         2.74941437e-02,  1.74636282e-02, -6.27299398e-03,
         3.98890488e-02, -4.33135517e-02, -2.95822378e-02,
         1.09696016e-02, -2.48136874e-02, -2.87147518e-02,
         2.62086429e-02, -3.99888381e-02, -2.06787344e-02,
        -2.32782718e-02, -2.18103062e-02, -4.20007594e-02,
         4.04493548e-02,  2.87819654e-04,  4.00412790e-02,
         1.91567875e-02,  3.97316366e-03,  4.12526838e-02,
        -3.02773602e-02,  4.94390167e-02,  1.59709938e-02,
         1.06783286e-02, -8.29814747e-03, -4.37952988e-02,
        -1.29492506e-02,  2.99758799e-02,  3.66544165e-02,
         2.77961418e-03,  1.35243647e-02,  9.41782072e-03,
         2.91021504e-02, -2.99422629e-02, -4.89000455e-02,
         3.40075754e-02,  4.16915305e-02,  1.45735256e-02,
        -2.98114177e-02,  3.61597575e-02,  4.90533821e-02,
         2.70242728e-02,  3.27711590e-02, -3.10804006e-02,
        -3.17870006e-02, -9.05537605e-03,  4.46701087e-02,
        -4.11101580e-02,  4.55015041e-02, -4.03475873e-02,
         4.75619175e-02,  2.93891095e-02,  4.60178591e-02,
        -9.07298177e-03,  1.51368231e-03, -4.01170179e-03,
         1.79433823e-03,  4.02356423e-02,  7.79559463e-03,
        -1.92288160e-02, -2.69079693e-02, -2.90454272e-02,
         4.85096239e-02,  3.54343317e-02,  2.73176692e-02,
         3.30892093e-02, -3.38179022e-02,  4.05997373e-02,
         4.98611853e-03, -3.26019153e-02, -4.77744453e-02,
        -4.74982634e-02, -3.68626602e-02, -1.98046118e-03,
         1.55557133e-02, -1.91264395e-02,  4.46023233e-02,
         1.30770542e-02, -4.60689776e-02, -3.56352329e-03,
        -4.72559333e-02, -2.97592171e-02,  4.96487133e-02,
         1.79411806e-02, -3.23735699e-02, -3.86248939e-02,
         3.09337117e-02,  3.91425230e-02, -2.01312788e-02,
         8.06157663e-03,  2.38621123e-02, -3.11963800e-02,
        -3.20492983e-02,  3.57343219e-02,  3.69902141e-02,
         3.01423706e-02, -3.31967622e-02,  4.41471599e-02,
        -1.53363571e-02,  4.83214967e-02, -5.73702902e-03,
        -4.11472693e-02,  9.17391852e-03,  4.15936224e-02,
        -1.77385584e-02, -3.34369168e-02, -4.52880971e-02,
        -2.65728235e-02, -2.09092144e-02,  2.55783312e-02,
         2.33657099e-02,  4.74698581e-02,  4.29736860e-02,
        -2.87708174e-02, -1.88260209e-02,  6.82971627e-03,
         4.08248976e-03, -5.82825392e-04,  3.67417186e-03,
        -3.82540226e-02, -7.64451921e-04, -4.43827361e-04,
         3.50996889e-02,  3.05977575e-02,  1.28438734e-02,
        -4.50071357e-02, -2.49910485e-02, -1.75687559e-02,
         4.67149056e-02,  3.77131961e-02,  1.50966980e-02,
         4.95109707e-03, -6.11951202e-03,  1.44762732e-02,
         2.41708197e-02, -4.22675535e-03,  2.74644047e-03,
         1.50826909e-02,  5.43354824e-03,  4.68260385e-02,
         3.90602015e-02, -4.55044173e-02, -4.32454236e-02,
        -3.92951146e-02, -1.05997100e-02, -3.72717381e-02,
         1.84761174e-02, -2.62647625e-02,  3.64261009e-02,
         3.19127701e-02, -1.96569096e-02, -1.29278302e-02,
         3.74928452e-02, -8.94308090e-03, -1.88736077e-02,
        -3.94867286e-02, -3.55333202e-02, -1.26829520e-02,
        -4.87796441e-02,  5.62034547e-04,  1.15758181e-03,
        -1.44441240e-02, -6.76406547e-03, -2.50533819e-02,
         4.12673987e-02,  2.71238200e-02,  2.32065432e-02,
        -1.02612600e-02, -2.42517833e-02, -2.59909760e-02,
         3.80955227e-02,  1.87633187e-03,  4.01408114e-02,
        -4.59008925e-02, -4.24369238e-02,  1.40631832e-02,
        -4.55845371e-02, -4.30125967e-02,  1.77580602e-02,
        -4.04125825e-02, -4.25866134e-02,  3.80037911e-02,
         3.39739397e-03, -4.26265970e-02,  2.17398144e-02,
         5.32019883e-04,  1.13879554e-02, -1.60860196e-02,
         3.32039483e-02, -7.81809166e-03, -1.37255080e-02,
         4.14432548e-02,  4.33744527e-02, -5.54351881e-03,
        -3.72692719e-02,  3.08373906e-02,  1.64883994e-02,
         4.26522009e-02,  4.93318923e-02, -2.69588958e-02,
         4.61806692e-02, -3.92652676e-03,  1.58630945e-02,
         2.42599510e-02, -2.76586767e-02, -2.92854197e-02,
        -3.08276415e-02,  2.13123672e-02, -3.43378074e-02,
         4.11409177e-02, -2.15129927e-03,  1.58514120e-02,
         1.20887533e-02,  4.80941571e-02,  4.21035551e-02,
        -4.36577089e-02,  1.31076239e-02,  9.24802944e-03,
        -2.88620349e-02,  5.04005700e-04,  5.36210462e-03,
        -9.84418392e-03, -4.06294689e-02,  4.93853800e-02,
         4.06819098e-02,  9.14058834e-03, -2.26799846e-02,
        -1.77968964e-02, -4.31233644e-03,  3.71757261e-02,
         4.14704569e-02,  1.24315508e-02,  3.41725461e-02,
        -3.15655693e-02,  4.75591533e-02,  2.31533982e-02,
        -3.33382040e-02, -3.13844085e-02,  2.31331475e-02,
        -1.33007877e-02,  1.38351209e-02,  4.98209707e-02,
         7.16751814e-03,  9.27508995e-03,  3.60469893e-03,
        -2.11457852e-02, -3.73098738e-02, -2.69012526e-03,
        -1.66779645e-02, -1.62134171e-02,  2.76111439e-03,
        -3.19521651e-02, -1.69385560e-02, -3.72333303e-02,
        -4.41489220e-02, -2.61556860e-02,  2.40438618e-02,
        -4.81003895e-02,  1.69941522e-02, -3.09792887e-02,
        -2.52332687e-02,  1.82665028e-02,  4.82242443e-02,
         2.94778496e-03, -3.80254872e-02,  1.87947601e-03,
        -3.10854316e-02, -3.32527645e-02, -4.19234857e-02,
         3.35325114e-02, -3.48956957e-02,  6.85229897e-05,
        -4.05963510e-03,  2.33252905e-02, -3.67193334e-02,
        -2.94035207e-02,  4.89928983e-02,  1.33700483e-02,
        -3.22950855e-02, -3.92945781e-02, -9.11920145e-03,
        -3.20215225e-02, -3.84641066e-02,  2.86244787e-02,
         1.81652568e-02,  1.34082101e-02, -1.34641640e-02,
         4.02777269e-03, -1.80109255e-02, -1.45254135e-02,
         2.39204280e-02, -3.07438374e-02,  2.10723765e-02,
         1.33327506e-02,  1.72411539e-02, -2.49058735e-02,
         4.13273647e-03,  2.88091600e-04, -1.39583461e-02,
         5.68348169e-03,  4.51572202e-02,  4.51401211e-02,
         3.16140093e-02,  1.83257572e-02, -4.92125750e-02,
        -2.73352619e-02,  2.42703594e-02, -3.90329845e-02,
        -3.32279690e-02,  2.99770273e-02,  2.23129503e-02,
         3.06464769e-02, -3.81402262e-02,  9.70875099e-03,
        -2.07801946e-02, -2.24556923e-02,  2.14513429e-02,
        -2.58319862e-02, -4.73036878e-02, -2.47038901e-04,
        -2.33193878e-02,  9.51455906e-03,  3.23113687e-02,
        -2.01316606e-02, -4.14011851e-02, -1.94766764e-02,
         1.47975199e-02, -4.83599678e-02,  1.31674521e-02,
        -2.24124268e-03,  4.70874421e-02, -3.66752967e-02,
         3.06840800e-02,  2.54147314e-02, -2.56124493e-02,
        -3.07209734e-02,  1.26190111e-03, -1.38014667e-02,
         1.80645250e-02, -2.03795079e-02,  3.83651592e-02,
        -4.67370749e-02, -2.79287342e-02,  8.05111974e-03,
         8.37868452e-03, -1.07146427e-03,  3.61504294e-02,
         4.33772318e-02, -3.88991460e-02, -4.63857763e-02,
        -2.28314046e-02,  4.08095457e-02, -2.30941661e-02,
         1.51318423e-02, -1.88850164e-02, -1.48584694e-03,
        -2.14351062e-02, -3.30333710e-02,  4.48518731e-02,
        -1.36360154e-02, -4.75371368e-02, -3.80965360e-02,
         3.79591100e-02, -1.36246532e-03,  4.87828292e-02,
         3.49674337e-02, -2.18468551e-02, -1.19072795e-02,
        -1.13133416e-02,  2.40666755e-02, -2.05124542e-03,
         6.53724745e-03,  3.82579900e-02, -4.75914404e-03,
        -9.76227596e-03,  1.45365931e-02,  1.00903586e-03,
        -3.31781507e-02,  4.35995795e-02,  1.71619691e-02,
         4.05368842e-02,  2.49017216e-02, -3.58891003e-02,
        -3.24798003e-02, -3.41503993e-02,  4.05261181e-02,
         2.53805406e-02, -4.02811393e-02,  8.34692642e-03,
         3.32249291e-02, -4.98598590e-02, -3.53510380e-02,
         1.37514360e-02, -4.26913165e-02,  3.55978273e-02,
        -3.86727937e-02,  2.53593922e-03, -2.40674857e-02,
         6.83078915e-03, -2.97194850e-02, -4.50006612e-02,
         1.05433539e-03, -3.16598639e-02,  4.77622822e-03,
         4.66572754e-02,  1.58203952e-02,  8.43681023e-03,
         2.14474313e-02, -4.96448167e-02,  3.42666768e-02,
         1.56182162e-02,  3.79109047e-02, -1.64486654e-02,
        -3.57869864e-02,  1.01760849e-02,  3.78921069e-02,
        -3.97017822e-02,  4.14121151e-03,  1.03132129e-02,
        -2.67428160e-03,  8.16421583e-03,  3.74875925e-02,
        -1.48501173e-02, -3.47488411e-02,  1.19583122e-02,
         1.65306814e-02, -7.08005577e-03,  2.31679343e-02,
         3.56462039e-02, -4.69614640e-02, -3.28461528e-02,
        -6.36366755e-03,  2.64974274e-02, -2.73415577e-02,
        -4.86735217e-02,  1.86070092e-02,  1.85688622e-02,
         5.98376989e-03, -4.32590842e-02, -4.68543433e-02,
         4.89397310e-02, -2.35555172e-02,  4.11473848e-02,
        -3.67424637e-03, -2.05057617e-02,  4.33980562e-02,
        -2.27866303e-02,  1.76897310e-02,  2.03476660e-02,
        -3.99543643e-02,  4.78327908e-02,  3.68343852e-02,
         4.88794185e-02,  2.86642648e-02, -4.83257174e-02,
         4.19311561e-02, -2.05872189e-02,  3.72202657e-02,
         4.19248231e-02,  2.63714679e-02,  1.82129852e-02,
        -3.61301005e-04, -3.93002629e-02,  8.62111896e-03,
        -4.85186353e-02,  1.90202259e-02,  3.79408859e-02,
        -4.57299873e-03,  2.72984542e-02,  3.60024907e-02,
         1.46419667e-02,  4.61194180e-02,  4.32161801e-02,
        -3.35344672e-02, -2.72778515e-02,  2.27789618e-02,
         4.40938212e-02, -3.53832133e-02, -9.04329866e-03,
         1.12830997e-02, -1.80151835e-02, -4.87085469e-02,
        -4.12591808e-02, -3.37647349e-02, -3.89085300e-02,
         1.02874748e-02,  4.35755588e-02, -1.27537027e-02,
         4.47974540e-02, -2.51973271e-02, -4.22589444e-02,
        -3.31844687e-02,  2.64191888e-02, -2.07073446e-02,
         2.56575011e-02, -3.79907005e-02, -4.48185690e-02,
         4.19362225e-02,  4.23080362e-02,  4.99144904e-02,
        -5.96095249e-03, -2.85410173e-02, -3.18345428e-02,
         2.49348767e-02,  4.39536832e-02,  3.91951241e-02,
         2.07425691e-02,  8.31354409e-04,  3.02403234e-02,
         4.57843393e-03, -1.16563961e-03, -2.72503980e-02,
        -1.19253248e-03,  3.66647132e-02,  2.13867687e-02,
         1.73255056e-03, -2.51560695e-02, -1.52904280e-02,
        -2.27263104e-02,  4.20591570e-02,  2.63541974e-02,
        -1.61383860e-02, -1.12115517e-02, -8.88861716e-04,
        -2.46945750e-02,  2.54896916e-02,  3.78807522e-02,
        -4.19534072e-02,  7.01258332e-03,  3.90648358e-02,
         1.22089162e-02,  4.88074757e-02, -2.65487675e-02,
         4.52075154e-03,  3.92036326e-02, -1.00965612e-02,
        -2.12660786e-02,  4.38044704e-02,  4.22151946e-02,
        -4.32913676e-02, -1.62859671e-02, -2.28758454e-02,
         4.86024059e-02, -3.03851124e-02, -8.33071396e-03,
         4.16445024e-02, -3.71027477e-02, -1.78624392e-02,
        -2.66541485e-02, -4.51995395e-02,  3.01966332e-02,
         2.83583067e-02,  2.59659626e-02,  3.69342007e-02,
        -2.97926310e-02,  7.12613016e-03,  3.64285596e-02,
         2.41142400e-02,  3.41919698e-02,  4.95052375e-02,
         6.43073395e-03,  2.93132327e-02,  3.04082073e-02,
        -2.22866889e-02,  2.34214105e-02,  1.55061148e-02,
        -3.63314636e-02,  1.61288492e-02, -1.32502541e-02,
        -3.73728499e-02, -4.65853326e-02,  3.44890989e-02,
         4.48921807e-02,  2.68880241e-02, -8.18091631e-03,
        -1.27449259e-02,  2.78843157e-02,  2.54526027e-02,
         4.89548929e-02,  2.17587464e-02, -1.52056292e-03,
         6.97267056e-03, -3.43894958e-02, -2.38031391e-02,
         4.99654934e-03, -4.16183099e-02, -2.03639269e-02,
         3.37769128e-02,  7.39223883e-03, -3.38677987e-02,
         3.60352136e-02,  2.00755931e-02,  1.90033801e-02,
        -3.15631516e-02, -3.66262905e-02, -1.63215995e-02,
        -1.16527304e-02, -2.51874458e-02,  2.41260566e-02,
         2.99140923e-02,  1.57522596e-02, -2.06754338e-02,
        -2.82241348e-02, -5.78025728e-03,  2.80208327e-02,
        -2.45479494e-03, -3.60494852e-03, -2.33494285e-02,
         4.50904034e-02,  2.70628072e-02,  4.73986156e-02,
         3.15447710e-02, -4.50086966e-02, -2.92928349e-02,
         1.40719078e-02, -2.66150590e-02,  7.36557320e-03,
        -2.29308959e-02,  1.62169077e-02,  1.42961740e-03,
         2.86679529e-02,  1.45491697e-02,  1.44098438e-02,
         4.99631204e-02,  4.12050821e-02,  7.60793686e-04,
         2.06216313e-02, -2.95830257e-02, -1.02729686e-02,
         1.78699158e-02, -1.24663934e-02,  1.03129745e-02,
         1.05219483e-02,  2.96715535e-02,  3.92887034e-02,
         3.22653092e-02, -2.29219794e-02, -3.89888771e-02,
         2.45026983e-02,  3.59362848e-02,  2.42877044e-02,
         6.43659383e-04, -1.30838975e-02,  1.12547986e-02,
         7.43445009e-03,  2.25143507e-03,  2.70275585e-02,
         1.12754703e-02, -1.55506954e-02,  8.31165165e-03,
        -1.41532347e-03,  1.74641274e-02,  2.68306397e-02,
         1.85210817e-02, -3.39228511e-02, -4.72325198e-02,
        -1.50590427e-02, -2.88440473e-02, -4.96191382e-02,
        -2.27137338e-02, -2.45958567e-03, -1.68933980e-02,
         3.05597223e-02,  9.41222906e-03, -4.98622060e-02,
        -4.05922420e-02, -3.82298119e-02,  2.98644193e-02,
         4.83428724e-02,  2.44672932e-02, -1.96430683e-02,
        -1.06120594e-02, -3.43713984e-02, -4.60613035e-02,
         1.26411058e-02,  2.31288411e-02,  2.81189345e-02,
        -2.16300841e-02,  3.17956246e-02, -3.94527540e-02,
         2.43634097e-02, -3.70909944e-02,  2.67374255e-02,
        -2.84758564e-02, -4.08005938e-02, -4.31787223e-04,
        -1.44756921e-02,  4.37402986e-02, -2.48824488e-02,
         1.76426508e-02, -1.65428631e-02, -2.05581784e-02,
         4.28692810e-02, -4.74494956e-02,  4.66485955e-02,
        -4.80420850e-02, -1.45283714e-02,  2.66428106e-02,
         4.11780924e-03, -2.27401983e-02,  1.81706659e-02,
         4.51479591e-02, -4.27543186e-02,  4.70176004e-02,
         3.39366831e-02]], dtype=float32)